*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
html.scroll-lock,
body.scroll-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1170px;
  padding: 0px 25px;
  margin: 0px auto;
}

.btn {
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 55px;
  padding: 5px 55px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 390px) {
  .btn {
    font-size: 18px;
  }
}

.btn--blue {
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--blue:hover {
  color: #363636;
  font-weight: 500;
}
.btn--blue:hover::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.btn--blue:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.btn--blue::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #6583FE;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffd700;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--gold {
  border: 2px solid #ffd700;
  color: #ffd700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn--gold:hover {
  color: #363636;
  font-weight: 500;
}
.btn--gold:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.btn--gold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffd700;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn--gold.popup-open {
  color: #363636;
  font-weight: 500;
}
.btn--gold.popup-open::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--blue-transparent {
  border: 2px solid #6583FE;
  color: #6583FE;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn--blue-transparent:hover {
  color: #FFFFFF;
  font-weight: 500;
}
.btn--blue-transparent:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.btn--blue-transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #6583FE;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--pink {
  border: 2px solid #FF7EB8;
  color: #FF7EB8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn--pink:hover {
  color: #FFFFFF;
  font-weight: 500;
}
.btn--pink:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.btn--pink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #FF7EB8;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item {
  background-color: #FFFFFF;
  color: #363636;
  padding: 30px 30px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.item > *:not(:last-child) {
  margin-bottom: 50px;
}
.item__title {
  font-size: 46px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item__title--dark {
  font-size: 26px;
}
.item__title--dark-gold {
  color: #ffd700;
}
.item__description {
  font-size: 20px;
}
.item__description--dark {
  font-size: 16px;
}

.item--dark {
  background-color: #363636;
  color: #FFFFFF;
  padding: 15px 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 700px) {
  .header {
    padding: 15px 0px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}
@media (max-width: 700px) {
  .header__container > * {
    margin-bottom: 20px;
  }
}
.header__container > *:not(:last-child) {
  margin-right: 55px;
}
@media (max-width: 540px) {
  .header__container > *:not(:last-child) {
    margin-right: 25px;
  }
}
@media (max-width: 700px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__logo {
  min-width: 202px;
  max-height: 43px;
}
@media (max-width: 692px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
.header__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__actions {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 692px) {
  .header__actions {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header__btn-menu {
  position: relative;
  width: 55px;
  height: 55px;
}
@media (max-width: 692px) {
  .header__btn-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header__icon-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  min-width: 55px;
  min-height: 55px;
  font-size: 35px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icon-menu:hover {
  min-height: 65px;
  padding: 0px 15px;
}
.header__icon-menu.menu-open {
  min-height: 65px;
  padding: 0px 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.overlay.menu-open {
  opacity: 1;
  visibility: visible;
}

.menu {
  background-color: #FFFFFF;
  padding: 75px 30px 50px 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  min-width: 300px;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}
.menu.menu-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu > *:not(:last-child) {
  margin-bottom: 18px;
}
.menu__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.menu__icon-close {
  color: #363636;
  font-size: 35px;
  cursor: pointer;
}
.menu__list > *:not(:last-child) {
  margin-bottom: 18px;
}
.menu__link-item {
  font-size: 24px;
  font-weight: 500;
  color: #363636;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__link-item:hover {
  color: #6583FE;
}
.menu__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.menu__text {
  font-size: 16px;
  color: #363636;
}
.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__actions > *:not(:last-child) {
  margin-bottom: 10px;
}
.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.popup.popup-open {
  opacity: 1;
  visibility: visible;
}
.popup__wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.popup__body {
  position: relative;
  border-radius: 25px;
  padding: 50px 50px;
  background-color: #FFFFFF;
  max-width: 1070px;
  min-width: 200px;
}
.popup__body > *:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 570px) {
  .popup__body > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 570px) {
  .popup__body {
    padding: 50px 20px 20px 20px;
  }
}
.popup__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 35px;
  color: #363636;
  cursor: pointer;
}

.popup-mentor > *:not(:last-child) {
  margin-bottom: 30px;
}
.popup-mentor__title {
  font-size: 36px;
  font-weight: 500;
  color: #363636;
}
.popup-mentor__title :nth-child(1) {
  color: #6583FE;
}
.popup-mentor__title :nth-child(2) {
  color: #FF7EB8;
}
@media (max-width: 570px) {
  .popup-mentor__title {
    font-size: 20px;
  }
}
.popup-mentor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
}
@media (max-width: 768px) {
  .popup-mentor__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.popup-mentor__images {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 0px 5px;
  margin-bottom: 15px;
}
@media (max-width: 950px) {
  .popup-mentor__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}
.popup-mentor__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 0px 5px;
  max-height: 100%;
  border-radius: 25px;
}
@media (max-width: 950px) {
  .popup-mentor__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}
.popup-mentor__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
}
.popup-mentor__description {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 570px) {
  .popup-mentor__description {
    font-size: 14px;
  }
}
.popup-mentor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -5px;
  height: 100%;
}
.popup-mentor__column-item {
  padding: 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333333%;
          flex: 0 1 33.333333%;
  margin-bottom: 15px;
}
@media (max-width: 950px) {
  .popup-mentor__column-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 768px) {
  .popup-mentor__column-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 570px) {
  .popup-mentor__column-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (min-width: 949px) {
  .popup-mentor__column-item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (min-width: 949px) {
  .popup-mentor__column-item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.popup-feedback > *:not(:last-child) {
  margin-bottom: 30px;
}
.popup-feedback__title {
  font-size: 36px;
  font-weight: 500;
  color: #363636;
}
.popup-feedback__title :nth-child(1) {
  color: #6583FE;
}
.popup-feedback__title :nth-child(2) {
  color: #FF7EB8;
}
@media (max-width: 570px) {
  .popup-feedback__title {
    font-size: 20px;
  }
}
.popup-feedback__description {
  font-size: 20px;
  color: #363636;
}
.popup-feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup-feedback__form > *:not(:last-child) {
  margin-bottom: 15px;
}
.popup-feedback__form :last-child {
  margin-top: 30px;
}
.popup-feedback__input {
  background: none;
  border: 2px solid #363636;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 55px;
  padding: 5px 55px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #363636;
}
.popup-feedback__input:focus {
  background-color: rgba(101, 132, 254, 0.156);
}
.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
}
@media (max-width: 700px) {
  .main {
    padding-top: 175px;
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__container > *:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 768px) {
  .main__container > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
.main__content > *:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.main__title {
  font-size: 46px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .main__title {
    font-size: 36px;
  }
}
.main__description {
  max-width: 600px;
}
.main__description > *:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .main__description {
    max-width: 100%;
  }
}
.main__text {
  font-size: 20px;
  line-height: 28.8px;
}
.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
@media (max-width: 768px) {
  .main__image {
    max-width: 350px;
  }
}
.main__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main__actions > *:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1110px) {
  .main__actions > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1110px) {
  .main__btn {
    width: 100%;
  }
}

.result {
  padding: 60px 0px;
}
.result__body > *:not(:last-child) {
  margin-bottom: 50px;
}
.result__title {
  font-size: 46px;
  font-weight: 500;
}
.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.result__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333333%;
          flex: 0 1 33.333333%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
@media (max-width: 912px) {
  .result__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 700px) {
  .result__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.footer__container {
  padding: 0px 25px;
  background-color: #363636;
  border-radius: 25px 25px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}
.footer__container > *:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 540px) {
  .footer__container > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
@media (max-width: 540px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    padding: 25px 25px;
  }
}
.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.footer__text {
  text-align: right;
}
@media (max-width: 540px) {
  .footer__text {
    text-align: center;
  }
}
.footer__link {
  color: #FFFFFF;
  font-size: 20px;
}
.footer__link span {
  color: #97FFD2;
  text-transform: uppercase;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */