// Null styles
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	font-family: "Montserrat";
    scroll-behavior: smooth;
    
    &.scroll-lock {
        overflow: hidden;
    }
}

// Service styles
.wrapper {
    position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
    background-image: url(../images/bg.png);
    background-position: center;
    background-attachment: fixed;
}

.container {
    box-sizing: content-box;
	max-width: 1170px;
	padding: 0px 25px;
	margin: 0px auto;
}

.btn {
    background: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 55px;
    padding: 5px 55px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat";
    z-index: 1;
    overflow: hidden;

    @media (max-width: 390px) {
        font-size: 18px;
    }
}

.btn--blue {
    color: #FFFFFF;
    transition: all 0.4s;

    &:hover {
        color: #363636;
        font-weight: 500;

        &::after {
            transform: translateY(-100%);
        }

        &::before {
            transform: translateY(0);
        }
    }
    
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #6583FE;
        transform: translateY(0);
        transition: all 0.4s;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #ffd700;
        transform: translateY(100%);
        transition: all 0.4s;
    }
}

.btn--gold {
    border: 2px solid #ffd700;
    color: #ffd700;
    transition: all 0.5s;

    &:hover {
        color: #363636;
        font-weight: 500;

        &::before {
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #ffd700;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
    
    &.popup-open {
        color: #363636;
        font-weight: 500;

        &::before {
            transform: translateX(0);
        }
    }
}

.btn--blue-transparent {
    border: 2px solid #6583FE;
    color: #6583FE;
    transition: all 0.5s;

    &:hover {
        color: #FFFFFF;
        font-weight: 500;

        &::before {
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #6583FE;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
}

.btn--pink {
    border: 2px solid #FF7EB8;
    color: #FF7EB8;
    transition: all 0.5s;

    &:hover {
        color: #FFFFFF;
        font-weight: 500;

        &::before {
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #FF7EB8;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
}

.item {
    background-color: #FFFFFF;
    color: #363636;
    padding: 30px 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;

    & > *:not(:last-child) {
        margin-bottom: 50px;
    }

    &__title {
        font-size: 46px;
		font-weight: 500;
        flex: 1 1 auto;
    }

    &__title--dark {
        font-size: 26px;
    }

    &__title--dark-gold {
        color: #ffd700;
    }
    
    &__description {
        font-size: 20px;
    }

    &__description--dark {
        font-size: 16px;
    }
}

.item--dark {
    background-color: #363636;
    color: #FFFFFF;
    padding: 15px 15px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    

@media (max-width: 700px) {
    padding: 15px 0px;
}

    &__container {
        display: flex;
        align-items: center;
        min-height: 120px;

        & > * {
            @media (max-width: 700px) {
                margin-bottom: 20px;
            }
        }

        & > *:not(:last-child) {
            margin-right: 55px;
            
            @media (max-width: 540px) {
               margin-right: 25px;
            }
        }

        @media (max-width: 700px) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        min-width: 202px;
        max-height: 43px;

        @media (max-width: 692px) {
            order: 1;
            flex: 1 0 auto;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__actions {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 692px) {
            order: 3;
            flex: 1 1 auto;
            justify-content: flex-start;
        }
    }

    &__btn-menu {
        position: relative;
        width: 55px;
        height: 55px;

        @media (max-width: 692px) {
            order: 2;
        }
    }

    &__icon-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        padding: 0px 10px;
        min-width: 55px;
        min-height: 55px;
        font-size: 35px;
        background-color: #FFFFFF;
        color: #000000;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            min-height: 65px;
            padding: 0px 15px
        }

        &.menu-open {
            min-height: 65px;
            padding: 0px 15px
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.menu-open {
        opacity: 1;
        visibility: visible;
    }
}

.menu {
    background-color: #FFFFFF;
    padding: 75px 30px 50px 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    min-width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    &.menu-open {
        transform: translateX(0);
    }

    & > *:not(:last-child) {
        margin-bottom: 18px;
       }

	&__btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
	}

	&__icon-close {
        color: #363636;
        font-size: 35px;
        cursor: pointer;
	}

    &__list {

        & > *:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__item {
    }

    &__link-item {
        font-size: 24px;
        font-weight: 500;
        color: #363636;
        transition: all 0.3s;

        &:hover {
            color: #6583FE;
        }
    }

	&__description {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
	}
    
	&__text {
        font-size: 16px;
        color: #363636;
	}

	&__actions {
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
	}

	&__btn {
	}
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.popup-open {
        opacity: 1;
        visibility: visible;
    }

    &__wrapper {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    &__body {
        position: relative;
        border-radius: 25px;
        padding: 50px 50px;
        background-color: #FFFFFF;
        max-width: 1070px;
        min-width: 200px;
        
        & > *:not(:last-child) {
            margin-bottom: 50px;

            @media (max-width: 570px) {
                margin-bottom: 25px;
            }
        }
        
        @media (max-width: 570px) {
            padding: 50px 20px 20px 20px;
        }
    }

    &__btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 35px;
        color: #363636;
        cursor: pointer;
    }
}

.popup-mentor {

    & > *:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        color: #363636;

        & :nth-child(1) {
            color: #6583FE;
        }

        & :nth-child(2) {
            color: #FF7EB8;
        }

        @media (max-width: 570px) {
            font-size: 20px;
        }
    }

    &__row {
        display: flex;
        margin: 0px 5px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    
    &__images {
        position: relative;
        flex: 0 1 40%;
        padding: 0px 5px;
        margin-bottom: 15px;

        @media (max-width: 950px) {
            flex: 0 1 60%;
        }
    }

    &__content {
        flex: 0 1 60%;
        padding: 0px 5px;
        max-height: 100%;
        border-radius: 25px;

        @media (max-width: 950px) {
            flex: 0 1 40%;
        }
    }
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
    }

    &__description {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;

        @media (max-width: 570px) {
            font-size: 14px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -5px;
        height: 100%;
    }
    
    &__column-item {
        padding: 0px 5px;
        flex: 0 1 33.333333%;
        margin-bottom: 15px;
        
        @media (max-width: 950px) {
            flex: 0 1 100%;
        }
        
        @media (max-width: 768px) {
            flex: 0 1 50%;
        }

        @media (max-width: 570px) {
            flex: 0 1 100%;
        }

        @media (min-width: 949px) {
            &:nth-child(1) {
                flex: 0 1 50%;
            }
        }

        @media (min-width: 949px) {
            &:nth-child(2) {
                flex: 0 1 50%;
            }
        }
    }
}

.popup-feedback {

    & > *:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        color: #363636;

        & :nth-child(1) {
            color: #6583FE;
        }

        & :nth-child(2) {
            color: #FF7EB8;
        }

        @media (max-width: 570px) {
            font-size: 20px;
        }
    }

    &__description {
        font-size: 20px;
        color: #363636;
    }

    &__form {
        display: flex;
        max-width: 500px;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 15px;
        }

        & :last-child {
            margin-top: 30px;
        }
    }

    &__name {
    }

    &__input {
        background: none;
        border: 2px solid #363636;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 55px;
        padding: 5px 55px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Montserrat";
        color: #363636;

        &:focus {
            background-color: rgba(101, 132, 254, 0.156);
        }
    }

    &__email {
    }

    &__tel {
    }

    &__btn {
    }
}

.main {
	min-height: 100vh;
	display: flex;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 700px) {
        padding-top: 175px;
    }

    &__container {
        display: flex;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: 25px;

            @media (max-width: 768px) {
                margin-right: 0px;
                margin-bottom: 50px;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 1 60%;

        & > *:not(:last-child) {
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            flex: 0 1 100%;
        }
    }

    &__title {
		font-size: 46px;
		font-weight: 500;

        @media (max-width: 768px) {
            font-size: 36px;
        }
	}

    &__description {
        max-width: 600px;

        & > *:not(:last-child) {
            margin-bottom: 15px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__text {
        font-size: 20px;
        line-height: calc(18px * 1.6);    }

    &__image {
        flex: 0 1 40%;

        @media (max-width: 768px) {
            max-width: 350px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__actions {

        & > *:not(:last-child) {
            margin-right: 25px;

            @media (max-width: 1110px) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }

        
    }

    &__btn {

        @media (max-width: 1110px) {
            width: 100%;
        }
    }
}

.result {
    padding: 60px 0px;

    &__container {

    }

    &__body {

        & > *:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__title {
        font-size: 46px;
        font-weight: 500;

    }

    &__content {
        display: flex;
        margin: 0px -15px;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 33.333333%;
        padding: 0px 15px;
        margin-bottom: 30px;

        @media (max-width: 912px) {
            flex: 0 1 50%;
        }

        @media (max-width: 700px) {
            flex: 0 1 100%;
        }
    }

    &__item {
    }
}

.footer {
    
    &__container {
        padding: 0px 25px;
        background-color: #363636;
        border-radius: 25px 25px 0px 0px;
        display: flex;
        align-items: center;
        min-height: 120px;

        & > *:not(:last-child) {
            margin-right: 50px;

            @media (max-width: 540px) {
                margin-right: 0px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: 540px) {
            flex-direction: column;
            min-height: 100%;
            padding: 25px 25px;
        }
    }

    &__logo {
        flex: 1 0 auto;
    }

    &__img {
    }

    &__text {
        text-align: right;

        @media (max-width: 540px) {
            text-align: center;
        }
    }
    
    &__link {
        color: #FFFFFF;
        font-size: 20px;

        & span {
            color: #97FFD2;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}